<h1>書籍の新規登録</h1>
<%= form_with model: @book do |form| %>
   <div>
    <%= form.label :title, "書籍名" %>
    <%= form.text_field :title, value: @book.title %>
  </div>

  <div>
    <%= form.label :author, "著者名" %>
    <%= form.text_field :author, value: @book.author %>
  </div>

  <div>
    <%= form.label :label, "ラベル" %>
    <%= form.text_field :label, value: @book.label %>
  </div>

  <div>
    <%= form.submit "変更内容を更新する" %>
  </div>

  <div>
    <%= link_to '削除', "/books/#{@book.id}", method: :delete %>
  </div>
<% end %>