<h1>Home</h1>
<ul>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <%= link_to 'ユーザー', '/' %>
</ul>
<nav>
  <ul>
    <%= link_to '案内', '/' %>
    <%= link_to '新規追加', '/' %>
    <%= link_to '一覧', '/' %>
  </ul>
</nav>